<h1>Editing pickup</h1>

<%= render "form", pickup: @pickup %>

<br>

<div>
  <%= link_to "Show this pickup", @pickup, class: 'btn btn-primary' %> |
  <%= link_to "Back to pickups", pickups_path, class: 'btn btn-primary' %>
</div>
